body {
    background-image: url(https://wallpaperaccess.com/full/4877609.jpg);
}

h1 {
    color: rgb(65, 40, 30);
}

h2 {
    color: rgb(75, 40, 30);
}

h3 {
    color: rgb(85, 40, 30);
}

h4 {
    color: rgb(95, 40, 30);
}
p {
    color: grey;
}
a {
    color: grey;
}
figure
img
figcaption
ul {
    color: grey;
}
li {
    color: grey;
}
ol {
    color: grey;
}
hr